@mixin bgText{
    //1 background clip
    -webkit-background-clip: text;
    //2. transform color
    color: transparent;
    //3. linear gradient
    background-image: linear-gradient(
        to right bottom,
        $color-theme-1,
        $color-theme-2
    );
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin iconSize {
    height: 3rem;
    width: 3rem;
}