.weather__icon{
    height: 12rem;
    width: 6rem;
    fill: $color-theme-1;
    align-content: center;
}
.weather__home{
    height: 6rem;
    width: 3rem;
    fill: $color-theme-1;
    float: right;
    margin-right: 1.5rem;
}